.banner{width: 100%;}
.banner img{width: 100%;max-height: 318px;}
.newsmain_lf_t{padding: 0px 12px;height: 46px;color: #fff;background: #ff0101;}
.newsmain_lf_t_lf{padding-left: 10px;border-left: 4px solid #ffffff;margin-top: 10.5px;}
.news_big{font-size: 18px;}
.news_small{font-size: 16px;margin-top: 2px;margin-left: 5px;}
.newsmain_lf_t a{color: #fff;line-height: 46px;}
.newsmain_lf_con{border: 1px solid #aca8a8;padding: 0px 7px 15px 7px;}
.newsmain_lf_b ul li{border-bottom: 1px dashed #878787;}
.newsmain_lf_b a{display: block;padding: 14px 0px;padding-left: 65px;background: url(../Images/news_06.png) no-repeat 45px center;font-size: 16px;}
.newsmain_lf_b a:hover{color: #ff0101;text-decoration: none;}
.newsmain_lf_b ul li:hover{background: #f1f0f0;}
.newsmain_lf_b{margin-bottom: 28px;}
.news_rt_t{color: #221815;font-size: 14px;padding: 14px 20px;}
.news_rt_t a{color: #221815;}
.news_rt_b{border: 1px solid #d4d4d4;padding: 26px;}
.news_rt_b_tl{text-align: center;color: #ff0101;font-size: 18px;padding: 10px 0px;}
.news_rt_b_time{color: #716e6e;font-size: 14px;text-align: center;}
.news_rt_b_con{color: #555454;font-size: 15px;line-height: 25px;padding: 20px 0px;}
.newsmain_lf_img img{width: 97%;margin: 0px auto;display: block;}
.news_rt_b_con_img{width: 65%;margin: 0px auto;}
.news_rt_b_con_img img{width: 100%;margin-bottom: 20px;}
.news_ul_tl{color: #050101;font-size: 18px;background: url(../Images/libg.png) no-repeat left center;padding-left: 15px;}
.news_ul_tl:hover{color: #050101;}
.news_ul_time{color: #716e6e;font-size: 14px;margin: 10px 0px;}
.news_ul li{padding: 10px 20px;border-bottom: 1px dashed #a7a4a4;}
.news_ul_con{color: #555454;font-size: 14px;line-height: 25px;}
.news_ul_con a{color: #ff0101;}
.news_ul{border-bottom: 1px solid #726e6e;border-top: 1px solid #726e6e;}
@media (min-width: 992px) 
{
 .ny_lf{float: left;}
 .ny_rt{float: right;}
}